<!DOCTYPE html>

<html lang="pt-br">
	<head ></head>
	<style type="text/css">
		table, th, td { border: 1px solid black; padding: 2px 4px 2px 4px; }
		body { font-size: 14px; font-family: Arial; margin: 10px; }
		table.tablefull { border-collapse: collapse; table-layout: fixed; width: 100%; white-space: pre-wrap !important; }
		.table_unbordered { border: none !important; padding: 2px 4px 2px 4px; text-align: center; }
		.full { width: 80%; text-align: left; }
		.full2 { width: 90%; text-align: left; }
		.left { text-align: left; }
		/*. { width: 5%; }*/
		/*th.um, td.um { width: 100%; }
		th.tres, td.tres { width: 33%; }
		th.quatro, td.quatro { width: 25%; }*/
	</style>

	<body>
		<div style="margin: auto; width: 50%; padding: 10px; line-height: 50%;">
			<b>
				<p style="text-align: left;">ESTADO DE SANTA CATARINA</p>
				<p style="text-align: left;">SECRETARIA DE ESTADO DA DEFESA CIVIL</p>
				<p style="text-align: left;">COORDENADORIA REGIONAL DE DEFESA CIVIL</p>
				<br />
				<br />
				<u><p> RELATÓRIO CIRCUNSTANCIADO Nº</p></u>
			</b>
		</div>
		<div>
			<p><b>Identificação</b></p>
			<table class="tablefull">
				<tr>
					<th>UF:</th>
					<th>Municipio:</th>
					<th>COREDEC:</th>
				</tr>
				<tr>
					<td>TESTE</td>
					<td>AAAAA AAAAAAAAAAAA AAAAAAAAAA</td>
					<td>TESTE</td>
				</tr>
			</table>
		</div><div>
			<p><b>Tipologia do Desastre</b></p>
			<table class="tablefull">
				<tr>
					<th>COBRADE:</th>
					<th>Descrição:</th>
					<th>Data:</th>
					<th>Hora:</th>
				</tr>
				<tr>
					<td>TESTE</td>
					<td>TESTE</td>
					<td>TESTE</td>
					<td>TESTE</td>
				</tr>
			</table>
		</div><div>
			<p><b>Descrição do Desastre</b></p>
			<table class="tablefull">
				<td class="um">AAA</td>
			</table>
		</div>
		<div>
			<p><b>Avaliação de Danos e Prejuízos</b></p>
			<table class="table_unbordered ">
				<tr>
					<th class="table_unbordered full">DANOS HUMANOS</th>
					<th class="table_unbordered ">SIM</th>
					<th class="table_unbordered ">NÃO</th>
					<th class="table_unbordered ">QUANTIDADE</th>
				</tr>
				<tr>
					<td class="table_unbordered full">Desalojados</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u>aaaaaaaaaaa</u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Desabrigados</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Desaparecidos</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Feridos</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Enfermos</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Mortos</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Isolados</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Atingidos</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Afetados</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
			</table>
		</div>
		<div>
			<p><b>Observações:</b></p>
			<p><u>AAAAAAAAAAAAAAAAAAAAAAA</u></p>
		</div>
		<div>
			<table class="table_unbordered ">
				<tr>
					<th class="table_unbordered full">DANOS MATERIAIS</th>
					<th class="table_unbordered ">SIM</th>
					<th class="table_unbordered ">NÃO</th>
					<th class="table_unbordered ">QUANTIDADE</th>
				</tr>
				<tr>
					<td class="table_unbordered full">Unidades Habitacionais Atingidas</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u>aaaaaaaaaaa</u></td>
				</tr>
				<tr> 
					<td class="table_unbordered full">Unidades Habitacionais Danificadas</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Unidades Habitacionais Interditadas</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Unidades Habitacionais Destruídas</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Instalações Públicas de Saúde Atingidas/Danificadas/Destruídas</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Instalações Públicas de Ensino Atingidas/Danificadas/Destruídas</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Instalações Públicas de uso Comunitário Atingidas/Danificadas/Destruídas</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Obras de Infraestruturas Pública Danificada/Destruída</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Interrupção de Serviços Essenciais</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
			</table>
		</div>
		<br><br><br>
		<div style="margin: auto; width: 50%; padding: 10px; line-height: 50%;">
			<b>
				<p style="text-align: left;">ESTADO DE SANTA CATARINA</p>
				<p style="text-align: left;">SECRETARIA DE ESTADO DA DEFESA CIVIL</p>
				<p style="text-align: left;">COORDENADORIA REGIONAL DE DEFESA CIVIL</p>
				<br />
				<br />
			</b>
		</div>
		<div>
			<p><b>Observações:</b></p>
			<p><u>AAAAAAAAAAA</u></p>
		</div>
		<div>
			<table class="table_unbordered">
				<tr>
					<th class="table_unbordered full">DANOS AMBIENTAIS</th>
					<th class="table_unbordered ">SIM</th>
					<th class="table_unbordered ">NÃO</th>
					<th class="table_unbordered full">Nº DE PESSOAS AFETADAS</th>
				</tr>
				<tr>
					<td class="table_unbordered full">Contaminação de água</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u>aaaaaaaaaaa</u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Contaminação de solo</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u>aaaaaaaaaaa</u></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Contaminação do ar</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "><u></u></td>
				</tr>
			</table>
		</div>
		<div>
			<p><b>Observações:</b></p>
			<p><u>AAAAAAAAAAA</u></p>
		</div>
		<div>
			<table class="table_unbordered">
				<tr>
					<th class="table_unbordered full">DANOS E PREJUÍZOS ECONÔMICOS PRIVADOS RELACIONADOS AO DESASTRE</th>
					<th class="table_unbordered ">SIM</th>
					<th class="table_unbordered ">NÃO</th>
				</tr>
				<tr>
					<td class="table_unbordered full">Danos e Prejuízos na Agricultura</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Danos e Prejuízos na Pecuária</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Danos e Prejuízos na Indústria</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Danos e Prejuízos no Comércio</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full">Danos e Prejuízos na Prestação de Serviços</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
			</table>
		</div>
		<div>
			<p><b>Observações:</b></p>
			<p><u>AAAAAAAAAAA</u></p>
		</div>
		<div>
			<p><b>Ações de Socorro, Assistência e Reabilitação realizadas pelo município</b></p>
			<table class="table_unbordered">
				<tr>
					<th class="table_unbordered full2">ASSISTÊNCIA HUMANITÁRIA</th>
					<th class="table_unbordered ">SIM</th>
					<th class="table_unbordered ">NÃO</th>
				</tr>
				<tr>
					<td class="table_unbordered full2">Fornecimento de Itens de Ajuda Humanitária pelo poder público municipal</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
			</table>
			<table class="table_unbordered">
				<tr>
					<th class="table_unbordered full2">IAH FORNECIDOS</th>
					<th class="table_unbordered "></th>
					<th class="table_unbordered ">Quantidade</th>
				</tr>
				<tr>
					<td class="table_unbordered full2">Cestas de Alimentos</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full2">Água Potável</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full2">Colchões</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full2">Kit de Higiene Pessoal</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full2">Kit de Limpeza</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full2">Telhas</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full2">Lona Plástica (emergencial)</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full2">Outros</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
			</table>
			<table class="table_unbordered">
				<tr>
					<th class="table_unbordered full2">REABILITAÇÃO DE CENÁRIO</th>
					<th class="table_unbordered ">SIM</th>
					<th class="table_unbordered ">NÃO</th>
				</tr>
				<tr>
					<td class="table_unbordered full2">Vias públicas totalmente desobstruídas</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
				<tr>
					<td class="table_unbordered full2">Restabelecimento de Serviços Essenciais</td>
					<td class="table_unbordered "></td>
					<td class="table_unbordered "></td>
				</tr>
			</table>
		</div>
		<br><br><br><br><br><br><br><br>
		<div style="margin: auto; width: 50%; padding: 10px; line-height: 50%;">
			<b>
				<p style="text-align: left;">ESTADO DE SANTA CATARINA</p>
				<p style="text-align: left;">SECRETARIA DE ESTADO DA DEFESA CIVIL</p>
				<p style="text-align: left;">COORDENADORIA REGIONAL DE DEFESA CIVIL</p>
				<br />
				<br />
			</b>
		</div>
		<div>
			<p><b>Conclusões</b></p>
			<table class="tablefull table_unbordered">
				<tr>
					<th class="table_unbordered left">Classificação do Desastre</th>
					<th class="table_unbordered left">Recomendação à homologação</th>
				</tr>
				<tr>
					<td class="table_unbordered left">Não atende aos critérios de classificação</td>
					<td class="table_unbordered left"></td>
				</tr>
				<tr>
					<td class="table_unbordered left">Desastre de Nível I - Situação de Emergência</td>
					<td class="table_unbordered left">Deferimento</td>
				</tr>
				<tr>
					<td class="table_unbordered left">Desastre de Nível II - Situação de Emergência</td>
					<td class="table_unbordered left"></td>
				</tr>
				<tr>
					<td class="table_unbordered left">Desastre de Nível III - Estado de Calamidade Pública</td>
					<td class="table_unbordered left">Indeferimento</td>
				</tr>
			</table>
		</div>
		<div>
			<p><b>Informações gerais</b></p>
			<table class="tablefull">
				<td class="um">                 </td>
			</table>
			<br><br>
			__________________________________________,_____________________.
			<br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
		<div style="text-align: center; text-decoration: overline; margin: auto; width: 50%; padding: 10px;">Coordenador Regional de Defesa Civil</div>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

		<div style="text-align: center; border-top: solid 1px; margin: auto; width: 50%; padding: 10px;">SECRETARIA DE ESTADO DA DEFESA CIVIL<br>Rua Ivo Silveira, 2320 - Capoeiras | CEP 88.085-001 | Florianópolis — SC <br>www.defesacivil.sc.gov.br</div>
	</body>

</html>